@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*
{
    margin: 0;
    background: 0;
}

body
{
    font-family: 'roboto', sans-serif;

}
/* The sections style */
section
{
    
    min-width: 1100px;
    width: 100%;
    height: 100vh;
}

/* Navbar, It'll appear later */
header{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* Home section content style */
.home
{

    background: url(./images/background.jpeg) no-repeat;
    background-size: cover;
    min-height: 720px;
    opacity: 1;
}

.wrapper
{
    width: 100%;
    height: 100%;

    background: rgba(0,0,0, 0.6);
}

.box 
{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left h2
{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
}

.left h2.iAm::after
{
    display: block;
    content: 'Leonardo';

    font-size: 48px;
    letter-spacing: 5px;
    text-shadow: 7px 5px 8px rgba(0,0,0,0.75);
    color: #F8573E;

    position: relative;
    top: -15px;
}


.left h2.like::after
{
    display: block;
    content: 'coffe';

    font-size: 48px;
    letter-spacing: 5px;

    text-shadow: 7px 5px 8px rgba(0,0,0,0.75);
    position: relative;
    top: -15px;
    color: #F8573E;
}

.left h2.joke
{
    font-size: 16px;
    letter-spacing: 5px;

    position: relative;
    top: -20px;
}

.line-bottom
{
    width: 100%;
    height: 5px;

    box-shadow: 0px 6px 9px 0px;
    background-color: #E8094C;
}

.left a .fa-brands
{
    font-size: 80px;
    color: white;

    margin: 30px 20px;
}
.img {
    width: 355.35px;
    transform: rotate(-10deg);
    position: relative;
    top: -15%;
}

.img img
{
    width: 355.35px;
    max-width: 100%;

    transform: translateY(10%);

    border-radius: 10%;
    box-shadow: 50px 0px 70px 10px;
}

/* About Me section style */

.about
{
    background: #634646;
    display: flex;
    min-height:720px;
    min-width: 1200px;
    justify-content: space-around;
    align-items: center;
}

.square
{
    height: 348px;
    width: 297px;
    background-color: #C4C4C4;
}

.inner-square
{
    width: 361px;
    height: 400px;
    background-color: #000;

    position: relative;
    left: 9%;
    bottom: 20%;

}

.inner-square img
{

    max-width: 1000%;
    width: 934px;
    position: relative;
    left: -95%;
    top: -5%;
}

.text
{
    width: 500px;
    
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.4;
}

.text h2
{
    font-weight: bold;
    font-size: 5em;
    letter-spacing: 4px;
    text-shadow: 7px 5px 8px rgba(0,0,0,0.75);
    color: #F8573E;
    padding: 15px;
}

.text p
{
    margin-block: 10px;
    padding: 5px;

    font-size: 1.1em;
    text-align: left;
    color: white;
}

.text p span
{
    display: block;
    margin-top: 10px;

    letter-spacing: 0.2px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 8px 5px 5px rgb(0 0 0 / 75%);
}

.about-curriculum
{
    display: flex;
    justify-content: space-evenly;
}

.about-circle
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;

}

.about-circle-left::after
{
    content: 'english';
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;

    position: relative;
    top: 70%;

}

.about-circle-right::after
{
    content: 'portuguese';
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;

    position: relative;
    top: 70%;

}

.about-circle a
{
    color: white;
    font-size: 48px;

    position: absolute;
}

/* CONTACT ME SECTION */

.contact
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 720px;
}
.contact h2
{
    display: block;


    font-size: 8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 7px 5px 8px rgba(0,0,0,0.75);
    color: #F8573E;

    user-select: none;
}

.contact-icons
{
    display: flex;
}
.contact .fa-solid, 
.contact .fa-whatsapp
{
    display: block;
    font-size: 10em;
    margin: 50px 50px;
}

.contact .fa-solid
{
    color: blue;
}

.contact .fa-whatsapp
{
    color: #B2F73E;
}

.contact .fa-solid::after
{
    font-family: 'roboto';
    font-weight: bold;
    content: 'LeonCelestino@outlook.com';

    display: block;

    color: rgb(82, 33, 33);

    position: relative;
    left: -10%;
    top: 10%;
    font-size: 0.9rem;
}

.contact .fa-whatsapp::after
{
    font-family: 'roboto';
    font-weight: bold;
    content: '+55 (41) 9 9144-5186';

    display: block;
    
    color: rgb(82, 33, 33);

    position: relative;
    left: -10%;
    top: 10%;
    font-size: 1rem;
}
/* FOOTER SECTION */